<div class="page-content">
  <div class="container-fluid">
    <div class="row wrapper header border">
      <app-header></app-header>
    </div><!--header-->


<div class="row wrapper page-container">

<div class="col-sm-4 sidenav border">
  <app-sidebar-menu></app-sidebar-menu>
</div><!--sidenavebar-->

<div class="col-sm-8 contentSection border">
  <router-outlet></router-outlet>
</div><!--contentSection-->
</div><!--page-container-->


<div class="row wrapper footer border">
  <app-footer></app-footer>
</div><!--footer-->

  </div><!--container-fluid-->
</div><!--page-content-->

