/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin:0;
}
.header{
    height: 60px;
    background: #606060;
    padding: 0 20px;
    color: #fff;
}
/*.border{border:solid 2px #000; }*/

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 85vh;
  }

  .sidenav p{
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
    font-size: 15px;
    text-transform: capitalize;
  }

.contentSection {
    min-height: 85vh;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.contentSection p{
    font-size: 50px;
    font-style: italic;
    color: #656565;
}

.footer {
    height: 34px;
    background: #ccc;
    text-align: center;
    line-height: 34px;
}
p{
    margin: 0;
}